*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.grid-layout {
  display: grid;
  height: 100vh;
  width: 100vw;
  min-width: 375px;
  min-height: 667px;
  grid-template-columns: [width] 100vw;
  grid-template-rows: [header] 80px [main] auto [footer] 80px;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-);
  grid-row: header;
  grid-column: width;
  position: fixed;
  width: 100vw;
}
.main {
  background-color: var(--main-color-);
  grid-column: width;
  grid-row: main;
  display: flex;
  flex-wrap: wrap;
}
.footer {
  background-color: var(--background-color-);
  grid-column: width;
  grid-row: footer;
  text-align: center;
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  height: 20px;
  margin-top: 15px;
  width: 100%;
}

.svg-logo {
  margin: 20px;
  -webkit-box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.55);
  border: var(--white-color-) 1px solid;
  border-radius: 50%;
  background: var(--white-color-);
}

.header__button {
  border-radius: 10px;
  margin: 20px;
  color: var(--background-color-);
  background-color: var(--white-color-);
  -webkit-box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.55);
}

.searchbar {
  width: 100%;
  margin: 5px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-message {
  text-align: center;
  color: white;
  font-size: 20px;
}

.copyright {
  margin: 30px;
  color: var(--white-color-);
}
.info-wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.character-name {
  padding-right: 10px;
  margin: 2px;
}

.character-info {
  padding: 0px;
  margin: 2px;
}

.character-image {
  border-radius: 50%;
  height: 100px;
  border: rgb(0, 0, 0) 1px solid;
  margin: 15px;
}

.character {
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: space-between;
  border-bottom: black 1px solid;
}

@media only screen and (min-width: 380px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--background-color-2-);
  }

  .character-image {
    height: 80px;
  }

  .character {
    -webkit-box-shadow: 0px 6px 10px 6px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 6px 10px 6px rgba(0, 0, 0, 0.55);
    height: 1fr;
    border-radius: 10px;
    width: 330px;
    height: 130px;
    margin: 10px;
  }

  .character:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
  }

  .character-name {
    padding-right: 10px;
    margin: 2px;
    font-size: 100%;
  }
  .character-info {
    padding: 0px;
    margin: 0px;
  }
  .start-message {
    text-align: center;
    color: var(--white-color-);
    font-size: 20px;
    padding: 10px;
  }
}
