:root {
  --background-color-: #24282f;
  --main-color-: #3c3e44;
  --white-color-: #ffffff;

  --alive-color-: #33ff99;
  --dead-color-: #ff2020;
  --unknown-color-: #d4d0d0;
  --background-color-2-: linear-gradient(35deg, #9ce0e0, #c90909);
}
